div {
	border: 2px solid;
	border-color: blue;
	width: 20px;	
	height: 20px;
	padding: 20px;
	font-size: 30px;	
	margin: 7px;	
	background: lightblue;
	color: blue;
    }	
h1 {
	background: lightblue;
	font-weight: bold;
	color: blue;
	border: 3px solid;
	border-color: black;
	font-size: 32px;
	align-content: right;
	}
button {
	border-style: solid;
	border-color: blue;
	width: 400px;
	height: 50px;
	font-size: 40px;
	background: lightblue;
	color: blue;
	}